.local/*.js

.DS_Store
dist/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
*.dll
*.pak
src/renderer/assets/style/*.css
src/renderer/assets/style/vendor/*.css
production/*
*.exe
*.nsi
