<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
            <script src='./interpreter.js' ></script>
            <script src='./utils.js'></script>
            <script>
                vue={
                    data:{
                        items:[['a','b'],[1,2],['c','d']]
                    }
                }
                interpret(vue)
                setTimeout(()=>{
                    vue.data.items[1]=['m','k']
                },2000)
            </script>
    </head>
    <body>
        <!-- <div>before</div> -->
        <div v-for='item in items'>
            <span v-for='val in item'>{{val+'|'}}</span>
        </div>
        <div>after</div>
    </body>
</html>